<div class="container-fluid mx-3">
  <a class="navbar-brand" href="{{ '/' | absolute_url }}"/>
  <img src="{{ 'images/kroxylicious_logo_rgb_hori_reverse.svg' | absolute_url }}"
       alt="Kroxylicious: Network proxy framework for Apache Kafka"
       width=112 height=28></a>
  <ul class="navbar-nav d-flex">
    <li class="nav-item me-3">
      <a class="nav-link" href="{{ '/quickstarts/' | absolute_url }}">Quickstarts</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link" href="https://github.com/kroxylicious/kroxylicious/releases">Download</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link" href="https://github.com/kroxylicious">GitHub</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link" href="{{ '/blog/' | absolute_url }}">Blog</a>
    </li>
  </ul>
</div>