<div class="row">
  {% capture acknowledgements %}{{ "/acknowledgements/" | absolute_url }}{% endcapture %}
  {% capture list_items %}
  {% include list-group-item.html url="https://github.com/kroxylicious" content="GitHub Organisation" icon="github" %}
  {% include list-group-item.html url="http://kroxylicious.io/kroxylicious" content="Kroxylicious Documentation" icon="file-earmark-code" %}
  {% include list-group-item.html url="https://github.com/kroxylicious/design" content="Design & Discussion" icon="diagram-3" %}
  {% include list-group-item.html url="https://github.com/kroxylicious/kroxylicious/blob/main/LICENSE" content="License" icon="file-earmark-text" %}
  {% include list-group-item.html url="https://kroxylicious.slack.com" content="Community & Development chat via Slack" icon="slack" %}
  {% include list-group-item.html url=acknowledgements content="Acknowledgements" icon="heart" %}
  {% endcapture %}

  {% assign list_items = list_items | newline_to_br | split: "<br />" %}

  {% include list-group.html items=list_items %}
</div>