<div class="redhat-footer">
  <div class="container grid-wrapper">
    <div class="license">
      &copy; Kroxylicious authors {{ 'now' | date: "%Y" }} | Kroxylicious licensed <a href="https://github.com/kroxylicious/kroxylicious/blob/main/LICENSE" target="_blank" rel="license noopener">Apache-2.0</a> | Documentation <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener">CC-BY-4.0</a> | Apache and Apache Kafka are trademarks of the <a href="https://www.apache.org/" target="_blank" rel="license noopener">Apache Software Foundation</a>.
    </div>
    <div class="redhat-logo"><a href="https://www.redhat.com/" target="_blank"><img src="{{site.baseurl}}/assets/images/Logo-Red_Hat-Sponsored_By-A-Reverse-RGB.svg"></a>
      </div>
    </div>
  </div>
</div>



