@charset "utf-8";
@import "./bootstrap/scss/functions";

$kroxy-dark-green: #216869;
$kroxy-light-green: #49a078;
$kroxy-dark: #1f2421;
$kroxy-light: #dce1de;

$primary: $kroxy-dark-green;
$secondary: $kroxy-light-green;
$dark: $kroxy-dark;
$light: $kroxy-light;

.list-group-item:hover {
  background-color: tint-color($secondary, 50%);
}

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "./bootstrap/scss/bootstrap";