---
layout: default
---
<div class="row justify-content-center">
  <div class="col-md-3 mx-3">
    <div class="row mx-1">
      <img class="img-fluid float-start" src="{{ '/images/kroxylicious_logo_rgb_vert_default.svg' | absolute_url }}" alt="Placeholder image">
    </div>
    <div class="row mx-1 mt-3 mb-4">
      <h3><i>{{ page.tagline }}</i></h3>
    </div>
    {% include project-links.html %}
  </div>
  <div class="col-lg-6 mx-3">
    <div class="p-3">
      {{ content }}
    </div>
  </div>
</div>